
<launch>
  <arg name="pkg" value="chugg_tracker" />
  <arg name="name" value="chugg_tracker" />
  <arg name="type" default="$(arg name)" />
  <arg name="rate" default="60" />
  <arg name="args" value="_loop_rate:=$(arg rate)" />

  <rosparam command="load" file="$(find chugg_tracker)/params/filter.yaml" param="/chugg_tracker/filter" />

  <node
      pkg="$(arg pkg)"
      type="$(arg type)"
      name="$(arg name)"
      args="$(arg args)"
      output="screen" 
      />
  
</launch>
