<launch>
  <arg name="pkg" value="imu_driver" />
  <arg name="name" value="imu_driver" />
  <arg name="type" default="$(arg name)" />

  <arg name="rate" default="100" />
  <arg name="ori" default="true" />
  <arg name="com_port" default="/dev/ttyUSB0" />

  <arg name="args" value="_loop_rate:=$(arg rate) 
			  _ori:=$(arg ori) 
			  _com_port:=$(arg com_port)" />

  <rosparam command="load" file="$(find imu_driver)/params/bias.yaml" param="imu_driver/bias" />

  <node
      pkg="$(arg pkg)"
      type="$(arg type)"
      name="$(arg name)"
      args="$(arg args)"
      output="screen" />
 
</launch>
