<launch>

  <arg name="sim" default="true" />
  
  
  <group unless="$(arg sim)" >
    <include file="$(find chugg_launch)/launch/sensors.launch"/>
    <include file="$(find chugg_launch)/launch/tracker.launch"/>

    <include file="$(find chugg_launch)/launch/visual.launch">
      <arg name="post" value="true" />
    </include>
  </group>

  <group if="$(arg sim)" >
    <include file="$(find chugg_physics)/launch/chugg_simulator.launch" />
    
    <include file="$(find chugg_launch)/launch/visual.launch">
      <arg name="post" value="false" />
    </include>
  </group>

  <include file="$(find chugg_model)/launch/chugg_model.launch" />

</launch>