<launch>

  <arg name="sim" default="false" />
  <arg name="cube" default="true" />
  <arg name="motors" default="true" />
  <arg name="filter" default="true" />
  <arg name="learn" default="true" />

  <include file="$(find chugg_model)/launch/chugg_model.launch" >
    <arg name="frame" value="/chugg/ori/final" />
  </include>
  
  <group if="$(arg sim)" >
    <include file="$(find chugg_physics)/launch/chugg_simulator.launch" />
    
    <include file="$(find chugg_launch)/launch/visual.launch">
      <arg name="post" value="false" />
    </include>
  </group>

  <!-- Run with real hardware -->
  <group unless="$(arg sim)" >

    <group if="$(arg learn)" >
    <node if="$(arg learn)" pkg="chugg_learning" type="hardware_1d_learner"
	  name="learner" launch-prefix="xterm -e ipython" />

    <node pkg="rqt_plot" type="rqt_plot" name="vel_plot" 
	  args="/motor_driver/target_vel/x:y:z" />
    </group>

    <include file="$(find chugg_launch)/launch/base_sensors.launch"/>
    <include file="$(find chugg_finder)/launch/markers.launch" />
    
    <include file="$(find chugg_launch)/launch/tracker.launch">
      <arg name="filter" value="$(arg filter)" />
    </include>
    
    <include file="$(find chugg_launch)/launch/visual.launch">
      <arg name="post" value="$(arg filter)" />
    </include>

    <!-- Launch nodes on CHUGG - this must be the last include in the file-->
    <group if="$(arg cube)" >
      <include file="$(find motor_driver)/launch/set_motor.launch" />
      
      <include file="$(find chugg_launch)/launch/cube.launch" >
	<arg name="motors" value="$(arg motors)" />
      </include>
    </group>

  </group>

</launch>