<launch>

  <arg name="sim" default="false" />
  <arg name="cube" default="true" />
  <arg name="motors" default="true" />
  <arg name="filter" default="false" />

  <include file="$(find chugg_model)/launch/chugg_model.launch" >
    <arg name="frame" value="/chugg/ori/final" />
  </include>
  
  <group if="$(arg sim)" >
    <include file="$(find chugg_physics)/launch/chugg_simulator.launch" />
    
    <include file="$(find chugg_launch)/launch/visual.launch">
      <arg name="post" value="false" />
    </include>
  </group>

  <!-- Run with real hardware -->
  <group unless="$(arg sim)" >
    <group unless="$(arg cube)" >
      <remap from="imu_driver/angular_rate" to="chugg_tracker/filter/velocity" />
    </group>

    <include file="$(find chugg_launch)/launch/base_sensors.launch"/>
    <include file="$(find chugg_finder)/launch/markers.launch" />
    
    <include file="$(find chugg_launch)/launch/tracker.launch">
      <arg name="filter" value="$(arg filter)" />
    </include>
    
    <include file="$(find chugg_launch)/launch/visual.launch">
      <arg name="post" value="$(arg filter)" />
    </include>

    <!-- Launch nodes on CHUGG - this must be the last include in the file-->
    <group if="$(arg cube)" >
      <include file="$(find motor_driver)/launch/set_motor.launch" />
      
      <include file="$(find chugg_launch)/launch/cube.launch" >
	<arg name="motors" value="$(arg motors)" />
      </include>
    </group>

  </group>

</launch>