<launch>

  <arg name="post" default="true" />  

  <!-- Launch rviz with our config file -->
  <node pkg="rviz" type="rviz" name="chugg_visual" output="screen"
	args="--display-config=$(find chugg_launch)/params/chugg.rviz" />

  <group if="$(arg post)" >
    <node pkg="chugg_tracker" type="post_view" name="post_view" output="screen" />
  </group>

</launch>